.table-header{
   cursor: pointer;
}

a.nostyle:link {
   text-decoration: inherit;
   color: inherit;
   cursor: pointer;
}

a.nostyle:visited {
   text-decoration: inherit;
   color: inherit;
   cursor: auto;
}

a:hover{
   font-weight: bold;
}
.bg-holylogger-lightgrey
{
  background-color: #dddddd;
}

.bg-holylogger-darkgrey
{
  background-color: #444444;
}

@media only screen and (max-width: 576px) {
   .row.table-header { 
      font-size: 2.6vw; 
   }
   .row.table-body { 
      font-size: 3.6vw; 
   }
}
