<div class="btn-group mt-3" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" (click)="onLeftClick()" checked>
    <label class="btn btn-outline-warning" for="btnradio1">10 Minutes</label>
  
    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (click)="onCenterClick()">
    <label class="btn btn-outline-warning" for="btnradio2">2 Hours</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" (click)="onRightClick()">
    <label class="btn btn-outline-warning" for="btnradio3">24 Hours</label>
  </div>